{% extends 'layout.html' %}

{% block title %}Métricas de Utilização{% endblock %}

{% block content %}
<h2>Métricas de Utilização</h2>
<div>
     <table>
           <thead>
    <tr>
        <th>Termo Pesquisado</th>
        <th>Tempo de Resposta (em segundos)</th>
    </tr>
    </thead>
    <tbody>
        {% for row in value %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>



    </table>
</div>
{% endblock %}